.teste {
  display: flex;

  @media screen and (max-width: 500px) {
    display: block;
  }

}


.repoList {
  display: flex;
  flex-direction: column;
  margin-left: 5px;

  h1 {
    color: #018099;
  }

  ul {
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  .inputContainer {
    display: flex;
    width: 30%;
    
    label {
      margin-bottom: 8px;
      font-size: 1.25rem;
    }
    
    input {
      margin-right: 3px;
      padding: 8px 12px 4px;
      border-radius: 5px;
      border:2px solid #000000 ;
    }

    @media screen and (min-width: 980px) {
      box-sizing: border-box;

      input {
        font-size: 1rem;
      }
    }
  }
}

// .item {
//   border:2px solid #005d72;
//   border-radius: 8px;
//   box-shadow: 2px 4px 4px #0000009F;
//   padding: 6px;
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   list-style: none;
//   font-size: 1.3rem;

//   a {
//     cursor: auto;

//     button {
//       border:2px solid #005d72;
//       cursor: pointer;
//       // color: #00000;
//     }

//     button:hover {
//       color: #FFFFFF;
//       background-color: #000000;
//     }
//   }

//   span {
//     color: #005d72;
//   }

//   strong {
//     color: #000000;
//   }
// }